*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden;
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --step-5: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);

  --text: #dbf0df;
  --background: #071309;
  --primary-button: #07b03a;
  --secondary-button: #ffffff;
  --accent: #08c942;
}

.app {
  text-align: center;
}

.header,
.slogan,
.about,
.services,
.pricing,
.footer
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
  z-index: 1;
}

h1,
h2,
h3 {
  line-height: 1.2;
  text-wrap: balance;
  background: #465982;
  background: linear-gradient(to right, var(--primary-button) 0%, var(--accent) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-block: 1em;
  z-index: 1;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

p {
  color: var(--secondary-button);
  z-index: 1;
}

button {
  padding: 0.5em 1em;
  font-size: var(--step-0);
  margin: 1em;
  border-radius: 1em;
  background: var(--primary-button);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  z-index: 1;
}

button:hover, button:focus {
  transform: translateY(-4px);
  background: var(--accent);
  color: var(--background);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(4px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

::marker {
  color: transparent
}

.wrapper {
  width: min(100% - 2rem, 65ch);
  margin-inline: auto;
}

.flow > * + * {
  margin-block: 0.5em;
}

.slogan {
  text-align: left;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  padding-inline: 1em;
  padding-bottom: 2em;
  margin-block: 1em;
  box-shadow: 0 4px 30px #010c1446;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.05);
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 75svh;
  height: 75vh;
  margin: 1em;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1em;
}

hr {
  margin-block: 0.5em;
  width: 100%;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-height: 80%;
  overflow-y: scroll;
  padding: 10px;
}


.message {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1.5em;
  width: 50%;
  min-height: 100px;
  height: 100%;
  word-wrap: break-word;
}

.message::-webkit-scrollbar {
  display: none;
}

.email,
.messageText {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message.sent {
  background-color: var(--background);
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid #fbfcfc36;
  border-bottom-left-radius: 0;
  min-height: 100px;
  height: auto;
}

.message.received {
  background-color: var(--primary-button);
  margin-right: auto;
  margin-left: 10px;
  border: 1px solid #fffbfb3e;
  border-bottom-right-radius: 0;
  min-height: 100px;
  height: auto;
}


.email {
  font-size: clamp(0.7rem, calc(1rem + 0.22vw), 0.9rem);
  color: var(--text);
  text-align: left;
  padding-left: 10px;
  margin: auto;
  padding: auto;
}

.messageText {
  font-size: var(--step-0);
  color: var(--text);
  margin: auto;
  padding: auto;
}

.messageForm {
  display: flex;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid #d9d9d9;
  border-radius: 0.5em;
  width: calc(100% - 1em);
}

.messageInput {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0.5em;
}

.messageBtn {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0.5em;
}

.messageBtn:hover {
  color: var(--background);
  background-color: var(--text);
}

.signInForm {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.signUpBtn {
  margin: 0.5em;
  padding: 0.25em 0.5em;
  width: calc(100% - 1em);
}

.signInInput {
  width: calc(100% - 1em);
  margin: 0.5em;
  padding: 10px;
  text-align: center;
  border-radius: 1em;
}

.closeBtn {
  transform: rotate(45deg);
  padding-inline: 10px;
  padding-block: 0px;
  border-radius: 50em;
  position: absolute;
  top: -15px;
  right: -15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.closeBtn:hover {
  transform: rotate(45deg);
}

.chatBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25em;
  background-color: transparent;
  border: none;
  z-index: 999;
}

.chatBtn:hover {
  background-color: transparent;
}

.chatlogo {
  width: 50px;
  height: 50px;
}

.signInBtn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 7px 25px;
  font-size: var(--step-0);
}

a {
  text-decoration: none;
  color: var(--text)
}

.services h3 {
  font-size: var(--step-1);
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.5rem;
}

.services h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--accent);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.services h3:hover::after, .services h3:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.services p {
  text-align: left;
  font-size: var(--step-0);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.services h3:hover + p {
  max-height: 200px; 
  opacity: 1;
}


.services div {
  margin-top: 2em;
}

.logo {
  max-width: 50%;
  margin: auto;
  z-index: -1;
}

.showMoreBtn {
  margin: 1em;
}

.fancy-link {
  background-color: var(--primary-button);
  color: var(--secondary-button);
  border: 1px solid var(--accent);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin-top: 0.75em;
  font-size: var(--step-0);
  transition: 0.3s;
}

.fancy-link:hover {
  transform: translateY(-4px);
  color: var(--background);
  background-color: var(--accent);
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: min(100% - 2rem, 65ch);
    margin-inline: auto;
  }

  .chat {
    width: 90%;
  }

  .logo {
    max-width: 80%;
  }
}