/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.203);
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #08c942;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.409);
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #07b03a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.678);
  }

  main::-webkit-scrollbar {
    display: none;
  }
